.container{
    width: 690px;
    height: 829px;
    margin: auto;
    margin-top: 75px;
    border-radius: 12px;
    background-image: linear-gradient(180deg,#270754 0% ,#6d2f80 100%);
}

.topbar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;
}

.topbar input{
    display: flex;
    width: 362px;
    height: 78px;
    background:#ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}
.searchIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}
.weatherImage{
    margin-top: 29px;
    display: flex;
    justify-content: center;
}
.weatherTemp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 120px;
    font-weight: 500;
}
.weatherLocation{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 500;

}
.dataContainer{
    margin-top: 70px;
    color: white;
    display: flex;
    justify-content: center;
    
}
.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.data{
    font-size: 34px;
    font-weight: 500;
}
.text{
    font-size: 20px;
    font-weight: 500;
}
.icon{
    margin-top: 10px;
}
.element img{
    width: 48px;
}